header{
    height: 100vh;
    background-image: url(img/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
#form{
    width: 60%;
    margin: auto;
    background-color: rgba(255, 228, 196, 0.706);
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15px;

}
#result{
    background-color: rgba(255, 255, 255, 0.519);
    width: 60%;
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;

}

    
